/*

div {
    border: 0.5px solid;
    display: flex;
    flex-direction: column;
}
*/



body {

    display: flex;
    justify-content: center;
}

.admin_option {
    margin: auto auto;
    min-width: 150px;
/*    background-color: #f2f2f2;*/
    padding-left :10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    
}

#mabite {
    text-align: center;
    font-family: arial;
    font-size: 2vw;
    text-shadow: 0px 5px 5px black;
    color: #fff;
}

.content {
    display: flex;
}
.box_connect {
    text-align: center;
    font-family: arial;
    font-size: 2vw;
    text-shadow: 0px 5px 5px black;
    color: #fff;
    margin: auto;
    width: 50%;
}

input {
    width: 75%;
    margin: 1%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    padding: 2%;
}

form {
    margin-bottom: 15%;
}

input[type=submit] {
    width: 75%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1% 2%;
    background-color: #4CAF50;
    color: white;
    font-family: arial;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 75%;
    margin-bottom: 0;
    padding: 2%;
}

#haut {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline 1% aliceblue;
    cursor: pointer;
}

#plus {
    margin: 0 auto;
    width: 20%;
}

#pan {
    text-align: center;
    font-family: arial;
    font-size: 2vw;
    text-shadow: 0px 5px 5px black;
    color: #fff;
}

#commande{
    padding: 100px;
    margin-top: 100px;
    border: 3px solid white;
/*    border-radius : 100%;*/
}